<div class='container'>
  <div class='row'>
    <div class='text-center'>
      <h1>Find Cowriters</h1>
    </div>
    <div class='col-xs-12'>
      <div ng-hide='likeMatch' class='card text-center clearfix'>
        <div class='header'>
          <h3>Cowriter</h3>
        </div>
        <div class='genres-strengths clearfix'>
          <div class='col-xs-6'>
            <h4><small>Genres</small></h4>
            <ul class='list-inline text-capitalize'>
              <li ng-repeat='genre in filterGenres(cowriter.genres)'>{{genre}}</li>
            </ul>
          </div>
          <div class='col-xs-6 strengths-list'>
            <h4><small>Strengths</small></h4>
            <ul class='list-inline text-capitalize'>
              <li ng-repeat='(key, value) in cowriter.strengths'>{{key}}: {{value}}</li>
            </ul>
          </div>
        </div>
        <div ng-show='checkForTracks' class='alert alert-danger'>
          <p>This user has not uploaded any songs.</p>
        </div>
        <div class='track-card'>
          <div ng-repeat='track in cowriter.tracks'>
            <h4><a ng-click='play(track.uri)'><i class="fa fa-play-circle-o"></i> {{ track.title }}</a></h4>
          </div>
        </div>
        <div ng-show='showWidget'>
          <iframe id="sc-widget" ng-src='{{iframeSrc}}' width="100%" height="100%" scrolling="no" frameborder="no"></iframe>
        </div>
      </div> <!-- end find-cowriter card -->

<!-- ***************************LIKE MATCH ALERT**************************** -->

      <div ng-show='likeMatch' class='like-match card text-center clearfix'>
        <div class='header'>
          <h3>{{ likeMatch.msg }}</h3>
        </div>
        <h4>You and {{ likeMatch.cowriterUsername }} have liked each others music.</h4>
        <div>
          <img ng-src="{{ likeMatch.avatar_url }}">
        </div>
        <div>
          <a class='btn btn-default' ng-href="/#/message/{{likeMatch.user_id}}/{{likeMatch.cowriter_id}}">
            <i class="fa fa-comment"></i> Send a Message
          </a>
          <a class='btn btn-default' ng-href="/#/view-cowriter/{{likeMatch.cowriter_id}}">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
      </div>

<!-- ****************************END LIKE MATCH ALERT************************ -->

    </div> <!-- end find-cowriter col -->
  </div> <!-- end row -->

<!-- ******************************BUTTONS******************************* -->

  <div class='row'>
    <div class='col-xs-12 clearfix'>
      <div class='text-center' ng-hide='likeMatch || warning || nomore'>
          <button class='btn btn-danger btn-circle' ng-click='next()'><i class="fa fa-2x fa-times"></i></button>
          <button class='btn btn-success btn-circle' ng-click='like(cowriter._id)'><i class="fa fa-2x fa-heart"></i></button>
      </div>
      <div ng-show='likeMatch || warning' class='text-center'>
        <button class='btn btn-primary' ng-click='next()'>Keep Searching <i class="fa fa-arrow-right"></i></button>
      </div>
      <div ng-show='warning' class='alert alert-warning'><p> {{ warning }} </p></div>
      <div ng-show='nomore' class='text-center alert alert-info'>
        <p>You have reached the end of the list of possible cowriters to choose from. Please consider a different career.
        <a ui-sref="edit-profile">Or just add more genres to your profile.</a></p>
        <a class='btn btn-primary' ui-sref="profile">Return To Profile</a>
      </div>
    </div> <!-- end button col -->
  </div> <!-- end button row -->

<!-- ******************************END BUTTONS******************************* -->

</div> <!-- end container -->

