<div class='container'>

  <div class='message-input'>
    <form class="form-horizontal" ng-submit="sendMessage(message_id)">

        <div class="input-group">
          <input type="text" class="form-control" placeholder='Message' ng-model="text">
          <span class="input-group-btn">
            <button type='submit' class="btn btn-default">Send</button>
          </span>
        </div>

    </form>
  </div>

  <div class='row'>
    <div ng-show='newMsg'>
      <h4>{{ newMsg.newMsg }} {{ cowriter.username }}</h4>
    </div>
    <div class='text-center' ng-show='message'>
      <h4><img class="message-image" ng-src="{{cowriter.avatar_url}}">Message with {{ cowriter.username }}</h4>
    </div>
  </div>

  <div class='row clearfix'>
    <div class='col-xs-12'>
      <div class='message-container' ng-repeat='content in message.content track by $index'>

        <div ng-class="content.user_id===cowriter._id ? 'message-cowriter' : 'text-right message-user'">
          {{ content.text }}
        </div>
        <div ng-class="content.user_id===cowriter._id ? 'date-cowriter' : 'text-right date-user'">
          <small>Sent on: {{content.sent_at | date:'yyyy-MM-dd'}}</small>
        </div>

      </div>
    </div>
  </div>

</div>



