<div class='container'>
  <div class='row'>
    <div class='col-sm-6'>
      <img src="{{ user.avatar_url }}">
      <h1>{{ user.username }}</h1>
      <p>{{ user.description }}</p>
      <ul>
        <li><h4>_id: {{ user._id}}</h4></li>
        <li><h4>access_token: {{ user.access_token}}</h4></li>
        <li><h4>refresh_token: {{ user.refresh_token}}</h4></li>
        <li><h4>city: {{ user.city}}</h4></li>
        <li><h4>country: {{ user.country}}</h4></li>
        <li><h4>user_uri: {{ user.user_uri}}</h4></li>
        <li><h4>tracks_uri: {{ user.tracks_uri}}</h4></li>
      </ul>
    </div>
    <div class='col-sm-6'>
      <h1><a ui-sref='soundcloud-player'>Tracks</a></h1>
      <div ng-repeat='track in tracks'>
        <div>
          <h3>title: {{ track.title }}</h3>
          <p>id: {{ track.id }}</p>
          <p>uri: {{ track.uri }}</p>
          <p>user_id: {{ track.user_id }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
