<div class='container'>
  <div class='row'>
<!-- **************************PROFILE************************** -->
    <div class='col-xs-12'>
      <div class='card clearfix'>
        <div class='profile-cover-photo'></div>
        <div class='profile-info text-center'>
          <img ng-src="{{ user.avatar_url }}">
          <h3>{{ user.username }}</h3>
          <p>{{user.city}} {{user.state}}</p>
          <div class='profile-description'>
            <p>{{ user.description }}</p>
          </div>
          <div class='genres-strengths clearfix'>
            <div class='col-xs-6'>
              <h4><small>Genres</small></h4>
              <ul class='list-inline text-capitalize'>
                <li ng-repeat='genre in filterGenres(user.genres)'>{{genre}}</li>
              </ul>
            </div>
            <div class='col-xs-6 strengths-list'>
              <h4><small>Strengths</small></h4>
              <ul class='list-inline text-capitalize'>
                <li ng-repeat='(key, value) in user.strengths'>{{key}}: {{value}}</li>
              </ul>
            </div>
          </div>
        </div> <!-- end profile-info -->
      </div> <!-- end profile-card -->
    </div> <!-- end profile col -->
<!-- **************************END PROFILE************************** -->

<!-- **************************MATCHES************************** -->
    <div class='col-xs-12'>
      <div class='card text-center clearfix'>
        <div class='header'>
          <h3>Matches</h3>
        </div>
        <p class='alert alert-danger' ng-hide='matches'>
          You have no one who thinks you're good. <a ui-sref="find-cowriter">Find a cowriter.</a>
        </p>
        <div ng-repeat='match in matches'>
          <div>
            <p> {{ match.username }}
              <a class='btn btn-primary btn-xs' ng-href="/#/view-cowriter/{{match.id}}">View Profile</a>
              <a class='btn btn-primary btn-xs' ng-href="/#/message/{{user._id}}/{{match.id}}">Message</a>
            </p>
          </div>
        </div>
      </div> <!-- end matches card -->
    </div> <!-- end matches col -->
<!-- **************************END MATCHES************************** -->

<!-- **************************TRACKS************************** -->

    <div class='col-xs-12'>
      <div class='card text-center'>
        <div class='header'>
          <h3 ng-show='tracks'>Tracks</h3>
        </div>
        <div ng-show='showWidget'>
          <iframe id="sc-widget" ng-src='{{iframeSrc}}' width="100%" height="100%" scrolling="no" frameborder="no"></iframe>
        </div>
        <div class='text-center' ng-hide='notracks || tracks'>
          <i class="fa fa-5x fa-spinner fa-pulse"></i>
          <small class='clearfix'>Loading tracks...</small>
        </div>
        <p class='alert alert-danger' ng-show='notracks'>
          You haven't added any songs to SoundCloud. Click to go to
          <a href='{{ user.permalink_url }}'>
            SoundCloud profile.
          </a>
        </p>
        <div ng-repeat='track in tracks'>
          <div>
            <label><a ng-click='play(track.uri)'><i class="fa fa-play-circle-o"></i> {{ track.title }}</a></label>
          </div>
        </div>
      </div> <!-- end tracks card -->
    </div> <!-- end tracks col -->
<!-- **************************END TRACKS************************** -->
  </div>
</div>
