* {
  box-sizing: border-box;
}

body {
  padding-top: 70px;
}

div {
  display: block;
}

.logo {
  font-family: 'Handlee', cursive;
}

.icon-box {
  color: #FF5500;
}

.card {
  border: 1px solid #d3e0e9;
  border-radius: 5px;
  box-shadow: 0 1px 1px black;
  margin: 10px 0;
  padding-bottom: 15px;
}

.profile-cover-photo {
  padding: 10px 15px;
  height: 150px;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/cover-photo2.png) no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.profile-description {
  padding: 10px 10px;
  margin: 0 15px 10px;
  background: rgba(192, 192, 192, 0.3);
  border-radius: 5px;
}

.profile-info img {
    max-width: 125px;
    max-height: 125px;
    margin-top: -50px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.genres-strengths {
  margin-bottom: 5px;
}

.strengths-list {
  border-left: 1px solid #aaa;
}

.header {
  height: 50px;
  padding-top: 10px;
  margin-bottom: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: black;
}

.header h3 {
  color: white;
  margin: 0;
}

.track-card {
  padding: 10px 10px;
  margin: 10px 15px 10px;
  background: rgba(192, 192, 192, 0.3);
  border-radius: 5px;

}

.like-match {
  background-color: gray;
  color: white;
}

.like-match img {
    max-width: 125px;
    max-height: 125px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.btn-circle {
  border: 1px solid black;
  margin: 10px;
  width: 60px;
  height: 60px;
  padding: 6px 0;
  text-align: center;
  border-radius: 50%;
}

.message-container {
  margin-bottom: 30px;
  overflow: visible;
  vertical-align: top;
}

.message-user {
  color: #fff;
  background-color: #3097d1;
  max-width: 60%;
  position: relative;
  left: 40%;
  padding: 10px 15px;
  border-radius: 9px;
}

.message-cowriter {
  color: black;
  background-color: rgba(192, 192, 192, 0.3);
  max-width: 60%;
  position: relative;
  padding: 10px 15px;
  border-radius: 9px;
}

.date-user {
  max-width: 60%;
  position: relative;
  left: 40%;
}

.date-cowriter {
  max-width: 60%;
  position: relative;
}

